
/* 
=========================================================================
=========THE HTML CODE FOR THE SLIDER CURRENTLY NOT IN USE ==============
=========================================================================

<div class="slideshow-container" >

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="img/test.jpg" style="width:100%; height:250px;border-radius:10px; ">
  
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="img/test.jpg" style="width:100%; height:250px;border-radius:10px; ">
  
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="img/test.jpg" style="width:100%; height:250px;border-radius:10px; ">

</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
*/


/* Slideshow container */
.slideshow-container {
  width:50%;
  height:100%;
  


  
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.slideshow-container .active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}