

body {
	background-image: url('body.jpg');
	 background:  #fff2e6;
;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;

	}

.body {
	clear: both;
	margin: 0 auto;
	width: 90%;
}


/* ===========================
   ========= Headings ========
   =========================== */

   .logo{font-size: 2.5em; font-family: 'Prociono', serif;}
		.logo:hover{color:#000;}
h1{font-size: 2.5em; font-family: 'Acme', sans-serif;}
h2 {font-size: 1.8em; font-family: 'Prociono', serif;}	/* 22px */
h3 {font-size: 2em; font-family: 'Lobster', cursive, bold;
}	/* 20px */
h4 {font-size: 2em; font-family: 'Lobster', cursive; color:#888888;}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* ===========================
   ======= Anchor style ======
   =========================== */
a {
	outline: 0;
	}

a img {
	border: 0px;
	text-decoration: none;
}

a:link, a:visited {
	color: #000;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	background-color:;
	color: #fff;
	text-decoration: none;
}


/* ===========================
   ===== Main Navigation =====
   =========================== */
h4 { width:100%; text-align:center; border-bottom: 1px solid #888; line-height:0.1em; margin:10px 0 20px; }
h4 span { background:#fff2e6; padding:0 10px; }
.mainHeader nav {

	background: ;
	font-size: 1.1em;
	font-family: 'Prociono', serif;
	height: 50px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;

	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;

}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {

	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: ;
	display: inline-block;
	height: 30px;
	padding: 10px 20px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	color:#000;
	text-decoration:none;
	border-bottom:2px solid black;
	text-shadow: none !important;

}

.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;

}

.mainHeader img {
	width: 20%;
	height: 10%;

	margin: 0% auto;
	padding-bottom:3%;
}

/* ===========================
   ======= Content Area ======
   =========================== */

.mainContent {

	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.topcontent {
	float:left;
	width:44%;
	text-align:center;
	padding-left:5%;
	padding-top:5%;
	margin-bottom: 1%;


}

.bottomcontent {
	float:right;
	width:44%;
	text-align:center;
	padding-right:5%;
	padding-top:5%;
	margin-bottom: 1%;
}

.midcontent{
	float:left;
	width:44%;
	text-align:center;
	padding-left:5%;
	padding-top:5%;
	margin-bottom: 1%;
}
.midcontent2{
	float:right;
	width:44%;
	text-align:center;
	padding-right:5%;
	padding-top:5%;
	margin-bottom: 1%;

}
.content {
	width: 100%;
	float: left;


}
.erbjuder{
	float:left;
	width:100%;
	margin:0% auto;
	text-align:center;
}
.side1{
	width:25%;
	float:left;
	padding-left:5%;
	padding-top:2%;
	text-align:center;
}
.side2{
	width:25%;
	float:left;
	padding-left:7.5%;
	padding-right:7.5%;
	padding-top:2%;
	text-align:center;
}
.side3{
	width:25%;
	float:left;
	padding-top:2%;
	text-align:center;
}

/* ===========================
   ======== Snabbsök =========
   =========================== */


       #quickSearch, #göm {
       	    color: white;
            width: 95%;
            margin: auto;
            text-align: center;
            padding: 20px;
            background-color: darkolivegreen;
        }

        #searchLink, #sokKnapp {
            margin-left: 15px;
            font-size:1.3em;
	 		width:15%;
			height:50px;
			padding:0;
			margin-left: 10px;
			text-align:center;
        }

        #snabbsok {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .sokfs, .gomtext {
            color: white;
            font-family: sans-serif;
            padding-left: 5px;
        }

        #tillBokning {
            text-decoration: none;
            color: black;
        }

        #fromDate, #untilDate, #antPers {
		width: 15%;
		} 



/* ===========================
   ======== Sidebar ==========
   ===========================

.top-sidebar {
	width: 20%;
	float: right;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFF;
	padding: 2% 3%;
	margin-bottom: 2%;
}

.middle-sidebar {
	width: 20%;
	float: right;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFF;
	padding: 2% 3%;
	margin-bottom: 2%;
}

.bottom-sidebar {
	width: 20%;
	float: right;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFF;
	padding: 2% 3%;
}
*/

/* ===========================
   ========= Footer ==========
   =========================== */

.mainFooter {
	width: 100%;
	float: left;
	text-align:left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: ;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
}

.mainFooter p {
	width: 91%;
	margin: 2% auto;
}
.besok{
	width:25%;
	float:left;
	padding-left:5%;
	padding-top:2%;
	text-align:center;
}
.kontakt{
	width:25%;
	float:left;
	padding-left:7.5%;
	padding-right:7.5%;
	padding-top:2%;
	text-align:center;
}
.karta{
	width:25%;
	float:left;
	padding-top:2%;
	text-align:center;
}
/* ===========================
   ====== Media Queries ======
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 950px)
{
	h4 { width:100%; text-align:center; border-bottom: 1px solid #888; line-height:0.1em; margin:10px 0 20px;
		font-size:1.65em;
	 }
	.body {
		clear: both;
		margin: 0 auto;
		width: 90%;
		font-size: 90%;
	}
	.mainHeader img {

		width:90%;
	}
	.mainHeader nav {
		background: ;
		font-size: 1.143em;
		height: 200px;
		line-height: 30px;
		margin-bottom: 0;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		padding-bottom:10%;
	}

	.mainHeader nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}

	.mainHeader nav li {
		margin-left: 0 auto;
		width: 100%;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		color: #000;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}

	.mainHeader nav a:active,
	.mainHeader nav .active a:link, .mainHeader nav .active a:visited

	{
		background: ;
		color: #000;
		text-shadow: none !important;
		text-decoration:none;
		border-bottom:1px solid black;
	}

	.mainHeader nav li a {

	}

	.mainHeader img {
		width: 30%;
		height: 30%;
		margin-bottom: 3%;
	}

	.mainContent {
		overflow: hidden;
		line-height: 25px;
		margin-top: 4%;
		margin-bottom: 2%;
	}

	.topcontent {
		width:90%;
		padding: 2% 5%;
		margin-bottom: 4%;
	}

	.bottomcontent {
		width:90%;
		background-color: ;
		padding: 2% 5%;
	}

.midcontent{
		width:90%;
		padding: 2% 5%;
		margin-bottom: 4%;
}
.midcontent2{
	width:90%;
		padding: 2% 5%;
		margin-bottom: 4%;
}
.erbjuder{
		width:90%;
		padding: 6%;
		margin-bottom: 4%;
}
.side1{
		width:90%;
		padding: 2% 5%;
		margin-bottom: 4%;
}
.side2{
		width:90%;
		padding: 2% 5%;
		margin-bottom: 4%;
}
.side3{
		width:90%;
		padding: 2% 5%;
		margin-bottom: 4%;
}
	.content {
		width: 100%;
		float: left;

	}


	/*
	.top-sidebar {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background-color: #FFF;
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;
	}

	.top-sidebar p {
		width: 90%;
	}

	.middle-sidebar {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background-color: #FFF;
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;
	}

	.middle-sidebar p {
		width: 90%;
	}

	.bottom-sidebar {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background-color: #FFF;
		margin-top: 4%;
		margin-left: 0%;
		padding: 0 7%;
		margin-bottom: 1%;
	}

	.bottom-sidebar p {
		width: 90%;
	}
		*/
	.mainFooter {
		width: 100%;
		float: left;
		margin: 2% 0;
		padding-left: 0;
		background-color:;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: #000;
	}

	.mainFooter p {
		width: 86%;
		margin: 2% auto;
	}
	.besok{
			width:90%;
		padding: 6%;
		margin-bottom: 4%;
		}
		.kontakt{
			width:90%;
		padding: 6%;
		margin-bottom: 4%;
		}
		.karta{
			width:90%;
		padding: 6%;
		margin-bottom: 4%;


		}
}
